section {
  #about {
    div {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    img {
      object-fit: cover;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
      text-justify: inter-character;
    }
  }
}
