/* Gallery */

.gallery {
  .box {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .box1 {
    background-image: url(https://ibb.co/Y0dxfTB);
  }

  .box2 {
    background-image: url(https://ibb.co/wWDnMBL);
  }

  .box3 {
    background-image: url(https://ibb.co/jWgcQP0);
  }

  .box4 {
    background-image: url(https://ibb.co/GCR5Tdc);
  }

  .box5 {
    background-image: url(https://ibb.co/tXTMFQ1);
  }

  .box6 {
    background-image: url(https://ibb.co/9hkQPX0);
  }
}

/* Footer */

.footer {
  div {
    padding: 0;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: inline;

      a {
        color: #ff6b6b;
      }
    }
  }
}
