/* Gallery */

.gallery {

  .box1 {
    background-image: url(https://images.pexels.com/photos/3693581/pexels-photo-3693581.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  }

  .box3 {
    background-image: url(https://images.pexels.com/photos/3693581/pexels-photo-3693581.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  }
}

/* Footer */

.footer {

  div {
    padding: 0;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: inline;

      li {

        a {
          color: #ff6b6b;
        }
      }
    }
  }
}
